body {
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
}

header {
    background: #394655;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    text-align: center;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}

nav li a {
    text-decoration: none;
    color: #ffa600;
    display: block;
    transition: .3s background-color;
}

.welcome {
    display: none;
}

nav a:hover {
    background-color: #ffa600;
    color: #394655;
}

@media screen and (min-width: 600px) {
    nav li {
        width: 100px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.2em;
        display: inline-block;
        margin-right: -4px;
    }

    .welcome {
        width: 190px;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .welcome p{
        margin: 0;
        font-size: 0.9em;
        color: #5b6f87;
    }
}